/* Definições gerais da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #f4f4f4;
    height: 100vh;
}

/* Estilo do formulário */
form {
    width: 100%;
    max-width: 600px;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-top: 20px;
    box-sizing: border-box;
}

/* Cabeçalho do formulário */
h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo dos fieldsets */
fieldset {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

legend {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    padding: 0 10px;
    background-color: #f4f4f4;
    border-radius: 5px;
}

/* Estilo das labels e inputs */
label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="tel"], input[type="date"], input[type="password"] {
    width: 48%;
}

input[type="text"]:last-child, input[type="email"]:last-child, input[type="password"]:last-child {
    width: 100%;
}

.erro {
    color: red;
    font-size: 12px;
    margin-top: -5px;
}

.campo-erro {
    border: 1px solid red;
}

/* Estilo do botão */
button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.sucesso {
    color: green;
    font-size: 16px;
    margin-top: 10px;
  }